<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <link href="../fonts/font-awesome/css/all.css" rel="stylesheet" />
    <title>Обо мне</title>
  </head>
  <body>
    <header>
      <div class="container-fluid header">
        <div class="header__logo">
          <a href="../index.html">
            <img
              src="../images/racoon_with_guitar.jpg"
              alt="racoon_with_guitar"
              class="logo-racoon"
            />
          </a>
        </div>
        <div class="header__menu">
          <ul>
            <li class="header__item">
              <a href="../index.html">На главную</a>
            </li>
            <li class="header__item">
              <a href="./contacts.html">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <section class="about-me">
      <div class="container">
        <h2>ОБО МНЕ</h2>
        <div class="row">
          <div class="col-lg-5">
            <div class="about-me__left">
              <div class="about-me__avatar">
                <img src="../images/my__avatar.jpg" alt="my-avatar" />
              </div>

              <div class="my-info-group">
                <p>Мой телефон:</p>
                <p class="about-me__phone">+7 123 456 78 90</p>
              </div>

              <div class="my-info-group">
                <p>Моя почта:</p>
                <p class="about-me__email">kek@pek.mek</p>
              </div>

              <form class="about-me__form" action="/">
                <div class="form-field">
                  <label for="username">Ваше имя</label>
                  <input
                    type="text"
                    name="email"
                    id="username"
                    placeholder="Введите имя"
                  />
                </div>
                <div class="form-field">
                  <label for="email">Ваш e-mail</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Введите e-mail"
                  />
                </div>
                <div class="form-field">
                  <textarea
                    name="message"
                    id="message"
                    cols="30"
                    rows="5"
                    placeholder="Введите сообщение"
                  ></textarea>
                </div>
                <div class="form-field">
                  <a href="#" class="btn">Отправить</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-me__right">
              <p>
                Меня зовут Дмитрий. Я создаю сайты, разрабатываю приложения и
                пишу музыку.
              </p>

              <div class="accordion">
                <ul>
                  <li>
                    <input type="checkbox" checked />
                    <i></i>
                    <h2>Резюме</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Assumenda enim sequi beatae eos totam pariatur molestiae,
                      nam, vero accusamus provident dicta iusto? Nemo,
                      distinctio nam quae consequatur maxime reprehenderit
                      est.Ipsam, nobis! Molestias, dolorum. Distinctio esse vero
                      dolor ab ipsa dolore, blanditiis autem sit deleniti, sunt,
                      perferendis at laborum cum. Possimus quo enim consequuntur
                      ea rem saepe at iusto id?
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked />
                    <i></i>
                    <h2>Увлечения</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Provident consectetur qui cupiditate id iste, delectus
                      laboriosam voluptatem fugit! Suscipit est distinctio
                      consectetur modi beatae provident a cumque in nisi
                      ad.Doloribus reprehenderit a eum accusamus eaque fugiat
                      minima vitae numquam, maiores rerum dicta enim provident
                      quis fugit inventore magnam obcaecati mollitia voluptatum
                      autem aliquam porro? Culpa autem temporibus sed. Tempora!
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked />
                    <i></i>
                    <h2>Навыки</h2>
                    <p>
                      В кратчайшие сроки сверстаю для вас макет посадочной
                      страницы, интернет-магазина или другие на ваше усмотрение.
                      Напишу бота или несложное приложение на NodeJS. Научу
                      понимать музыку и высекать на электрогитаре, а также сведу
                      ваш трек.
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked />
                    <i></i>
                    <h2>Языки программирования</h2>
                    <p>
                      Владею NodeJS HTML CSS JS
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked />
                    <i></i>
                    <h2>Обучение</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Illo debitis ad sapiente eveniet quia libero fugiat unde
                      et voluptates soluta totam magni odio, nisi temporibus
                      autem commodi error esse culpa.Sed voluptatum enim odit
                      impedit temporibus atque fuga quos deserunt quibusdam
                      rerum quidem, officia laborum doloremque culpa hic
                      possimus ea dolorem numquam assumenda facilis? Velit
                      officiis iste sed consequatur autem?
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container-fluid footer">
        <div class="container">
          <div class="footer__info">
            <div class="footer__copyright">
              Здесь должно быть что-то про права, но я оставлю тут сети, в
              которых вы можете со мной связаться
            </div>
            <div class="footer__social-medias">
              <span><i class="fab fa-vk"></i></span>
              <span><i class="fab fa-telegram"></i></span>
              <span><i class="fab fa-whatsapp"></i></span>
              <span><i class="fab fa-linkedin-in"></i></span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
