<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <link href="../fonts/font-awesome/css/all.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container-fluid header">
          <div class="header__logo">
            <a href="../index.html">
              <img
                src="../images/racoon_with_guitar.jpg"
                alt="racoon_with_guitar"
                class="logo-racoon"
              />
            </a>
          </div>
          <div class="header__menu">
            <ul>
              <li class="header__item">
                <a href="./about.html">Обо мне</a>
              </li>
              <li class="header__item">
                <a href="../index.html">На главную</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <div class="content">
        <h1>Здесь будут контакты</h1>
      </div>

      <footer>
        <div class="container-fluid footer">
          <div class="container">
            <div class="footer__info">
              <div class="footer__copyright">
                Здесь должно быть что-то про права, но я оставлю тут сети, в
                которых вы можете со мной связаться
              </div>
              <div class="footer__social-medias">
                <span><i class="fab fa-vk"></i></span>
                <span><i class="fab fa-telegram"></i></span>
                <span><i class="fab fa-whatsapp"></i></span>
                <span><i class="fab fa-linkedin-in"></i></span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
