.container-fluid.footer {
  background-color: #1f1c1c;
}

footer {
  color: #fff;

  .footer {
    padding: 15px 0;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__copyright {
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
    &__social-medias {
      span {
        font-size: 2rem;
        margin: 0 15px;
        i {
          &:hover {
            color: #c8a77b;
            text-shadow: 1px 1px 2px black, 0 0 10px #1f1c1c;
          }
        }
      }
    }
  }
}
